{% extends '::notifyLayout.html.twig' %}

{% block header %}
    {{ 'comments'|trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <table id="sample-table-1" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ 'comment'|trans }}</th>
                    <th>{{ 'created.at'|trans }}</th>
                    <th>{{ 'updated.at'|trans }}</th>
                    <th class="text-center">{{ 'options'|trans }}</th>
                </tr>
                </thead>

                <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.comment }}</td>
                        <td>{{ comment.created|ago }}</td>
                        <td>{% if comment.updated is not null %}{{ comment.updated|ago }}{% endif %}</td>
                        <td class="text-center">
                            {% set entity = comment %}
                            {% set show_path = 'comment_show' %}
                            {% set edit_path = 'comment_edit' %}
                            {% set delete_path = 'comment_remove' %}
                            {% include '::actionbtns.html.twig' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="col-sm-offset-9 col-sm-3">
                <a class='btn btn-primary btn-block col-sm-offset-9 col-sm-3' href="{{ path('comment_new') }}">Create
                    New Comment</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block inline_style %}
    .table {
    border: 1px solid #dddddd;
    }
{% endblock %}