{% extends '::notifyLayout.html.twig' %}

{% block header %}
    {{ 'feedbacks'|trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <table id="sample-table-1" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ 'feedback'|trans }}</th>
                    <th>{{ 'created.at'|trans }}</th>
                    <th>{{ 'updated.at'|trans }}</th>
                    <th class="text-center">{{ 'options'|trans }}</th>
                </tr>
                </thead>

                <tbody>
                {% for feedback in feedbacks %}
                    <tr>
                        <td>{{ feedback.feedback }}</td>
                        <td>{{ feedback.created|ago }}</td>
                        <td>{% if feedback.updated is not null %}{{ feedback.updated|ago }}{% endif %}</td>
                        <td class="text-center">
                            {% set entity = feedback %}
                            {% set show_path = 'feedback_show' %}
                            {% set edit_path = 'feedback_edit' %}
                            {% set delete_path = 'feedback_remove' %}
                            {% include '::actionbtns.html.twig' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="col-sm-offset-9 col-sm-3">
                <a class='btn btn-primary btn-block col-sm-offset-9 col-sm-3' href="{{ path('feedback_new') }}">Create
                    New Feedback</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block inline_style %}
    .table {
    border: 1px solid #dddddd;
    }
{% endblock %}